@font-face {
    font-family: 'Ubuntu-Medium';
    src: url("../../assets/font/Ubuntu-Medium.ttf");
}
@font-face {
    font-family: 'Ubuntu-Light';
    src: url("../../assets/font/Ubuntu-Light.ttf");
}

